<head>
	<link type = "text/css" rel = "stylesheet" href = "style.css">
	<img src = "nightvale.jpg">
</head>
<br/>
<br/>

<body>
	<div class = "navbar"> <a href = "home">Home </a> &nbsp; &nbsp; <a href = "about">About</a> &nbsp; &nbsp;<a href = "rooms">Rooms</a> &nbsp; &nbsp;<a href = "reserve">Reserve</a></div>
	<br/>
	<div class = "content">
	<p>
	The Night Vale Overnight is a hotel located in the desert town of Night Vale. It has been around for a very long time. No one is quite sure when it popped up. It has always been around. No one has ever seen anyone go out of this hotel, but this is not a cause for alarm. This hotel is accomodating and provides a daily breakfast of bacon that does not in fact from a questionable meat source. Do not question where this bacon comes from. 
	</p>
	<p>
	We are also known for our linen which smells vaguely of dried blood. If this is a complaint, you may tell the management who will then proceed to take care of you. Do not take this as a threat, it is merely to assist your unhappiness. We wish to end your misery.
	</p>
	
	</div>
</body>

<br/>

<div class = "footer">
Welcome to Night Vale is owned by the makers of Welcome to Night Vale. It is, in fact, a good radio show and you should listen to it.

</div>

<br/>
<br/>
