<head>
	<link type = "text/css" rel = "stylesheet" href = "style.css">
	<img src = "nightvale.jpg">
</head>
<br/>
<br/>

<body>
	<div class = "navbar"> <a href = "home">Home </a> &nbsp; &nbsp; <a href = "about">About</a> &nbsp; &nbsp;<a href = "rooms">Rooms</a> &nbsp; &nbsp;<a href = "reserve">Reserve</a></div>
	<br/>
	<div class = "content">
	<p>
	These are details you inputted for your stay at the Night Vale Overnight. Please be informed that these details must be accurate, else you face extermination. </p>

	<p> Your name: <%= @room_confirm.name %></p>
	<p> Your desired room type: <%= @room_confirm.type %> </p>
	<p> Your available date: <%= @room_confirm.available %> </p>
	
	</div>
</body>

<br/>

<div class = "footer">
Welcome to Night Vale is owned by the makers of Welcome to Night Vale. It is, in fact, a good radio show and you should listen to it.

</div>

<br/>
<br/>
