<head>
	<link type = "text/css" rel = "stylesheet" href = "style.css">
	<img src = "nightvale.jpg">
</head>
<br/>
<br/>

<body>
	<div class = "navbar"> <a href = "home">Home </a> &nbsp; &nbsp; <a href = "about">About</a> &nbsp; &nbsp;<a href = "rooms">Rooms</a> &nbsp; &nbsp;<a href = "reserve">Reserve</a></div>
	<br/>
	<div class = "content">
	<p>
	Welcome to the Night Vale Overnight. This is a hotel for lost tourists who have made it to our accomdating desert town. This is not at all suspicious. This is not a place where people end up missing.
	</p>
	<p>
	Please be aware that humans are not allowed in the dog park outside. Dogs are not allowed in the dog park outside. Please disregard the existence of the dog park.</p>
	<p>
	We hope you enjoy your stay.</p>
	
	</div>
</body>

<br/>

<div class = "footer">
Welcome to Night Vale is owned by the makers of Welcome to Night Vale. It is, in fact, a good radio show and you should listen to it.

</div>

<br/>
<br/>
