<head>
	<link type = "text/css" rel = "stylesheet" href = "style.css">
	<img src = "nightvale.jpg">
</head>
<br/>
<br/>

<body>
	<div class = "navbar"> <a href = "home">Home </a> &nbsp; &nbsp; <a href = "about">About</a> &nbsp; &nbsp;<a href = "rooms">Rooms</a> &nbsp; &nbsp;<a href = "reserve">Reserve</a></div>
	<br/>
	<div class = "content">
	<p>
	It seems you are interested in reserving a room at the Night Vale Overnight. By clicking "confirm" and reserving a room, you are confirming that we will not be held liable for any damages or loss of limbs from this point onwards.</p>
	<p>
	We hope to see you soon.</p>
	<p>
	<form method = "GET" action ="/confirm">
	Name: <input type = "text" name = "name">
	</p>
	<p> 
	Select your room type:
	<select name = "type">
		<option value="colorless"> Colorless </option>
		<option value="bunker"> Bunker </option>
	</select>
	</p>
	<p>
	Choose the dates you will be available in:
	<input type = "date" name = "available"></input>
	<br/>
	<br/>
	<input type = "submit" value = "Confirm">
	</form>
	</div>
</body>

<br/>

<div class = "footer">
Welcome to Night Vale is owned by the makers of Welcome to Night Vale. It is, in fact, a good radio show and you should listen to it.

</div>

<br/>
<br/>
