<head>
	<link type = "text/css" rel = "stylesheet" href = "style.css">
	<img src = "nightvale.jpg">
</head>
<br/>
<br/>

<body>
	<div class = "navbar"> <a href = "home">Home </a> &nbsp; &nbsp; <a href = "about">About</a> &nbsp; &nbsp;<a href = "rooms">Rooms</a> &nbsp; &nbsp;<a href = "reserve">Reserve</a></div>
	<br/>
	<div class = "content">
	<p>There are many rooms that you can choose as your lodgings here in the Night Vale Overnight.</p>
	<p>
	You may avail of the following facilities, regardless of your room type:
	<ul>
	<li> Our lovely pool, which features mysterious creatures at the ground level. When swimming, be sure to avoid being pulled downwards as our bodyguard is only available outside of his regular hourly massage appointments.
	<li> All rooms have a radio in which you can listen to Night Vale Radio. Night Vale has an entertaining radio program, with Cecil Baldwin as the host. However, please pay no attention to any subversive suggestions that come from such programs.
	<li> You may get a massage from our faceless, formless beings. There you will be surrounded by a mist that will take all your troubles away. It might even take all of you away.
	</ul>
	
	<h2> The Room Types </h2>
	<p> The first is known as the colorless room. When you enter, you will lose all ability to see color and the world will be in black and white. This room comes with free pickles that are not poisonous.They may glow late at night. Do not be alarmed by this. </p>
	
	<p> If you are feeling more adventurous, you may choose the Bunker Room. In here you may recreate the experience of warfare and sleep in a trench in the backyard of this hotel. We are not held liable for any losses of limbs that result from gunshots or any other war crimes such as genocide. </p>
	
	<p> Lastly, there is the Dog Park Room. YOU ARE NOT ALLOWED TO RESERVE A DOG PARK ROOM AS IT IS LOCATED IN THE DOG PARK. You are not allowed to know about the Dog Park Room. You may not ask about it at the front desk. If you notice any hooded figures by the Dog Park Rooms, you are not allowed to look at them. </p>
	
	</div>
</body>

<br/>


<div class = "footer">
Welcome to Night Vale is owned by the makers of Welcome to Night Vale. It is, in fact, a good radio show and you should listen to it.

</div>

<br/>
<br/>
